8. Motivational Poster Meme Website
9. Intermediate CSS
10. CSS Flag Project
11. Advanced CSS
12. Web Design Agency Website
13. CSS Flexbox
14. Pricing Table Project
15. CSS Grid
16. Mondrian Painting Project
17. Bootstrap
18. TinDog Project
19. Personal Site(portfolio) Project
20. The Document Object Model(DOM)
21. The Dice Game
23. jQuery
24. The Simon Game
25. The Unix Command Line
26. Node.js
27. QR Code Project
28. Express.js with Node.js
29. Secret Access Project
30. EJS(Embedded Javascript)
31. Band Generator Project
32. A Blog Web Application
33. Git, Github and Version Control
34. Application Programming Interfaces (APIs)

22. Advanced Javascript and DOM Manipulation/Javascript/Async and Await/