20. The Document Object Model(DOM)
21. The Dice Game
23. jQuery
24. The Simon Game
25. The Unix Command Line
26. Node.js
27. QR Code Project
28. Express.js with Node.js
29. Secret Access Project
30. EJS(Embedded Javascript)
31. Band Generator Project
32. A Blog Web Application
33. Git, Github and Version Control
34. Application Programming Interfaces (APIs)